html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: block;
	justify-content:center;
	background: linear-gradient(-45deg, #7952ee, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	color: white;
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
	margin: 0;
	padding: 8px;
	font-weight: 200;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 30% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
main {
	text-align: center;
	padding: 1em;
	max-width: 1200px;
	margin: 0 auto;
}

h1,h2,h3,h4 {
	color: white;
	text-transform: uppercase;
	font-weight: 100;
	text-shadow: none;
	
}
h1 {
	font-size: 2.0rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.3rem;
}
.huge {
	font-size: 2.5rem;
	line-height: 6rem;
	text-shadow: -1px 0 rgb(38, 38, 38), 0 1px rgb(38, 38, 38), 1px 0 rgb(38, 38, 38), 0 -1px rgb(38, 38, 38);
	letter-spacing: 5px;
}


a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.2em;
	margin: 0.4rem;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button,input {
	color: rgb(255, 255, 255);
	background-color: #f4f4f437;
	outline: none;
	text-align: center;
}

button:disabled,input:disabled {
	color: rgb(255, 255, 255);
}

button:not(:disabled):active,input:not(:disabled):active {
	background-color: rgba(255, 255, 255, 0.872);
}


.strongbtn {
	color: rgb(255, 255, 255);
	background-color: #e73c7e;
	border-radius: 15px;
	padding: 10px;
	margin: 15px;
}

.strongbtn:not(:disabled):active {
	color:#e73c7e;
	background-color:  rgb(255, 255, 255);

}

/* First the Grid */
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(75px, 10fr));
	grid-gap: 0.1rem;
	justify-items: left;
	margin: 0;
	padding: 0;
  }
  
  /* The Picture Frame */
  .gallery-frame {
	padding: .2rem;
	border-radius: 50%;
	height:65px;
	width: 65px;
	
  }
  
  /* The Images */
  .gallery-img {
	max-width: 100%;
	height: 100%;
	object-fit:cover;
	transition: opacity 0.25s ease-in-out;
	border-radius: 50%;
  }
  
  .gallery-img:hover {
	opacity: .7;	
  }